<h1>New Route</h1>
<div class="alert alert-danger" ng-show="error" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ error }}
</div>

<div class="form-group">
    <label for="startAddress">Start adres:</label>
    <input places-auto-complete size=80
           id="startAddress"
           class="form-control"
           ng-model="startAddress"
           type="address"
           on-place-changed="startPlaceChanged()" />
</div>
<div class="form-group">
    <label for="destAddress">Bestemming adres:</label>
    <input places-auto-complete size=80
           id="destAddress"
           class="form-control"
           ng-model="destAddress"
           component-restrictions="{country:'be'}"
           type="address"
           on-place-changed="destPlaceChanged()" />
</div>
<div class="form-group">
    <label for="travelMode">Vervoermiddel</label>
    <select id="travelMode" class="form-control" ng-model="travelMode">
        <option value="DRIVING">Auto</option>
        <option value="WALKING">Te voet</option>
        <option value="BICYCLING">Fiets</option>
    </select>
</div>
<ng-map zoom="8" style="height:600px" >
    <directions
            draggable="true"
            panel="directions-panel"
            travel-mode="{{travelMode}}"
            origin="{{origin}}"
            destination="{{dest}}">
    </directions>
</ng-map>
<a class="btn btn-primary" ng-click="volgendeClick()">Volgende</a>

